<% include ./partials/header %>


<h1>Sign Up!</h1>

<form action="/register" method="POST">
<input type="text" name="username" id="">
<input type="password" name="password" id="">
<button>Submit</button>
</form>

<% include ./partials/footer %>